NODE_ENV=production
PORT=5000
MONGO_URI=
CORS_ORIGINS=https://thetinyescape.com,https://www.thetinyescape.com,http://localhost:5173,http://localhost:3000
SQUARE_ACCESS_TOKEN=
SQUARE_LOCATION_ID=
SQUARE_WEBHOOK_SIGNATURE_KEY=
EMAIL_HOST=smtp.office365.com
EMAIL_PORT=587
EMAIL_USER=
EMAIL_PASS=
EMAIL_TO=hello@thetinyescape.com
